<div class="containern">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">顧客新規登録</h4>

  <div class="row mt-5">
    <div class="col-10 col-md-7 mx-auto">
      <%= render 'public/customers/form', company: @company, customer: @customer %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-10 col-md-9">
    <p class="text-right"><%= link_to "戻る", company_customers_path(@company) %></p>
    </div>
  </div>

</div>