<div class="container">
  <h2 class="text-center">検索結果</h2>
  
  <div class="row">
    
    <% if @range == "User" %>
    
      <table class="table table-hover">
        <thead>
          <tr>
            <th>名前</th>
            <th>所属部署</th>
            <th>役職</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.name, public_user_path(user.id) %></td>
              <td>
                <%if user.department_id.present? %>
                  <%= user.department.name %>
                <% end %>
              </td>
              <td><%= user.position %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    <% else %>
      
      <table class="table table-hover">
      <thead>
        <tr>
          <th>企業名</th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= link_to company.name, company_path(company.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      
    <% end %>
    
  </div>
  
</div>
  
  
  