<div class="modal-form">
  <%= form_with model: department, url: admin_departments_path, local: false do |f| %>

    <div id="modal_department_messages-error" class=" mx-auto text-center">
      <%= render 'layouts/errors', obj: department %>
    </div>

    <div class="form-group">
      <label for="name">部署名</label><br>
      <%= f.text_field :name,  class: "form-control", id: "name" %>
    </div>

    <div class="modal_submit mt-4">
      <%= f.submit "登録", class: "btn btn-sm btn-success" %>
    </div>

  <% end %>
</div>