<div class="container">
  <h2 class="text-center">部署編集</h2>

  <div class="row">
    <div class="col-md-7 mx-auto">
    <%= form_with model:@department, url: admin_department_path(@department), method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <th>部署名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "登録", class: "btn btn-sm btn-success"%></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", admin_departments_path, class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>