<div class="table-responsive">
  <table class="table table-hover text-nowrap bg-light">
    <thead class="thead-dark">
      <tr>
        <th>企業名</th>
      </tr>
    </thead>
    <tbody>
      <% companies.each do |company| %>
        <tr class="table_tr_link" data-href="/admin/companies/<%= company.id%>">
          <td><%= company.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>