<div class="container">
  <h2 class="text-center">得意先編集</h2>

  <div class="col-10 col-md-7 mx-auto">
    <%= render 'layouts/errors', obj: @company %>
  </div>

  <div class="row mt-5">
    <div class="col-10 col-md-7 mx-auto">
      <%= render 'admin/companies/form', company: @company %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", admin_company_path(@company), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>