<div class="container">
  <h1 class='text-center top-title font-weight-bold'>Work Info UP</h1>
  <div class="row mt-5">
    <div class="col-10 col-sm-8 col-md-8 col-lg-7 col-xl-6 mx-auto border-top border-bottom border-dark p-2">
      <p>Work Info Upでは誰もが簡単に各営業が抱えている案件情報を確認することが出来ます。<br>
      また、グループ機能からメール配信やチャットが利用でき、用途に合わせたグループでのコミュニケーションが可能となります。
      </p>
    </div>
  </div>
  
  <% if user_signed_in? %>
    <%= render 'top_after' %>
  <% else %>
    <%= render 'top_before' %>
  <% end %>
  
</div>