<div class="container">
  <h2 class="text-center">管理者ページ</h2>
  <div class="row mt-5">
    <div class="col-10 col-sm-8 col-md-8 col-lg-7 col-xl-6 mx-auto card p-5">
      <h5>管理者は下記の登録や編集、削除ができます。</h5>
      <ul>
        <li>ユーザーの編集</li>
        <li>得意先の登録、編集、削除</li>
        <li>部署の登録、編集、削除</li>
        <li>プロジェクトの編集、削除</li>
        <li>プロジェクトコメントの削除</li>
        <li>グループの削除</li>
      </ul>
    </div>
  </div>

</div>
