<div class="table-responsive">
  <table class="table table-hover text-nowrap bg-light">
    <thead class="thead-dark">
      <tr>
        <th>企業名</th>
      </tr>
    </thead>
    <tbody>
      <% companies.each do |company| %>
        <tr class="company_table_tr" data-href="/companies/<%= company.id%>">
          <td><%= link_to company.name, company_path(company.id), class: 'text-dark' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>