@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
// ヘッダーとフッダーのロゴフォント

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP:wght@600&family=Philosopher&family=Work+Sans:wght@600&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
}

// header上部固定分の高さを調整
body {
  padding-top: 6rem;
}
// ヘッダーの背景色
.header-bg {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.logo, .top-title {
  font-family: 'Philosopher', sans-serif;
}
// メインの背景色と最小高さ
main {
  min-height: 70vh;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-size: cover;
}
.top-title {
  font-family: 'Work Sans', sans-serif;
}

// モーダル用
.modal-header {
  border-bottom: none;
}

.modal-dialog {
  max-width: 600px;
}

.modal_submit {
  margin-bottom: 40px;
}
.modal-form {
  padding: 30px;
}

// カード様
.user-card {
  min-height: 280px;
}

.card-box .card {
  box-shadow:none;
  transition:box-shadow 0.3s, transform 0.3s;
}

.card-box .card:hover {
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
  transform:scale(1.02);
}

.card-box .card:hover::before {
  box-shadow:none;
}

// トップに戻るボタン
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
}

//トップページ itemボタン
.item {
  background: #8ab1f5;
  color: #fff;
  margin: 5px;
  // padding: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1);
  transition: all .3s;
}

.item-box {
  justify-content: center;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.item:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1) ;
    border-color: transparent;
}
