<div class="container">
  <h2 class="text-center"><%= @company.name %></h2>
  <h4 class="text-center">プロジェクト新規登録</h4>

  <div class="col-10 col-md-7 mx-auto">
    <%= render 'layouts/errors', obj: @project %>
  </div>

  <div class="row mt-5">
    <div class="col-10 col-md-7 mx-auto">
      <%= render 'public/projects/form', company: @company, project: @project %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", company_projects_path(@company), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>