<div class="container">
  <h2 class="text-center">メンバー</h2>

  <div class="row mt-5">
    <div class="col-11 col-md-12 mx-auto">
      <%= render 'admin/users/index', users: @users %>
    </div>
  </div>

</div>