<p>
  <%= notification_form(notification) %><span><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <br>
  <% if !@comment.nil? %>
    <span class="text-secondary"><%= @comment_content %></span>
  <% end %>
</p>