<div class="container">
  <h2 class="text-center"><%= @user.name %>さん</h2>
  <h4 class="text-center mb-5">スケジュール作成</h4>

  <div class="col-10 col-md-7 mx-auto text-center">
    <%= render 'layouts/errors', obj: @task %>
  </div>

  <div class="row">
    <div class="col-10 col-md-7 mx-auto">
      <%= render 'public/tasks/form', user: @user, task: @task %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", public_user_tasks_path(@user), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>