<div class="container">
  <h2 class="text-center">メンバー編集</h2>
  <div class="col-10 col-md-7 mx-auto">
    <%= render 'layouts/errors', obj: @user %>
  </div>

  <div class="row mt-5">
    <div class="col-10 col-md-7 mx-auto">
      <%= render 'public/users/form', user: @user %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", public_user_path(@user), class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>

</div>